doctype html 
html 
    head 
        title Login Form 
    body 
        h1 Login Test 
        ul(style="text-decoration:none") 
            li 
                a(href="/list" style="text-decoration-line:none; color:black") 목록보기
            li 
                a(href="/new" style="text-decoration-line:none; color:black") 가입하기
            li 
                a(href="/login"  style="text-decoration-line:none; color:black") 로그인하기 