<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <title>Document</title>
    </head>
    <body>
        <h1>new</h1>
        <form action="/new" method="post">
            user_name <input type="text" name="name"> <p>
            Emp_Number <input type="text" name="emp_number"> <p>
            Email <input type="text" name="email"> <p>
            <input type="submit" value="Join Us">
        </form>

    </body>
</html>