doctype html 
html
    head
        title memo
    body 
        form(action="/cookie" method="post")
            label(for="uid") 아이디
            input(type="text" name="uid")
            input(type="submit" value ="확인")