doctype html 
html
    head
        title login
    body 
        form(action="/login" method="post")
            label(for="uid") 아이디
            input(type="text" name="uid")
            label(for="upw") 비밀번호
            input(type="password" name="upw")
            input(type="submit" value ="확인")