<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border='1'>
        <tr>
            <td>순번</td>
            <td>작성자</td>
            <td>제목</td>
            <td>내용</td>
        </tr>
    <% rows.forEach((list) => {%>
        <tr>
            <td><%= list.id %></td>
            <td><%= list.name %></td>
            <td><%= list.title %></td>
            <td><%= list.content %></td>

        </tr>
    <% }) %> 
</table>
    
</body>
</html>