<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 회원가입</h1>
    <form action="/signup" method="post">
        id : <input type="text" name="user_id"><p>
        password : <input type="password" name="passwd"><p>
        email : <input type="text" name="email"><p>
        tel : <input type="text" name="tel"><p>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>